html, body {
  height: 100%; }

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0; }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif; }

h3 {
  text-decoration: underline; }

p {
  line-height: 28px; }

ul li {
  line-height: 28px; }

select option {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px; }

.header {
  background-color: #FBFBFB;
  border-bottom: 1px solid #CCC;
  padding: 16px;
  text-align: center; }
  .header img {
    max-width: 200px;
    width: 50%; }
  @media (min-width: 1024px) {
    .header {
      border-bottom: none;
      bottom: 0;
      left: 0;
      position: fixed;
      top: 0;
      width: 360px; } }

@media (min-width: 1024px) {
  .content {
    bottom: 0;
    left: 390px;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 390px); } }

.content .section {
  border-bottom: 1px solid #CCC;
  padding: 16px 24px; }

.content .comment {
  color: #CCC;
  font-style: italic; }
  .content .comment a {
    color: darkgray; }

.content .hidden {
  display: none; }
