// Variables
$primary-color: #333;
$lightgray: #FBFBFB;
$gray: #CCC;

// Breakpoints
$small: 768px;
$wide: 1024px;

// Base
html, body{
    height: 100%;
}

body{
    color: $primary-color;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2{
    margin-bottom: 8px;
}

h3{
    text-decoration: underline;
}

p{
    line-height: 28px;
}

ul{
    li{
        line-height: 28px;
    }
}

select option{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

// Layout
.header{
    background-color: $lightgray;
    border-bottom: 1px solid $gray;
    padding: 16px;
    text-align: center;

    img{
        max-width: 200px;
        width: 50%;
    }

    @media(min-width:#{$wide}){
        border-bottom: none;
        bottom: 0;
        left: 0;
        position: fixed;
        top: 0;
        width: 360px;
    }
}

.content{
    @media(min-width:#{$wide}){
        bottom: 0;
        left: 390px;
        position: absolute;
        right: 0;
        top: 0;
        width: calc(100% - 390px);
    }

    .section{
        border-bottom: 1px solid $gray;
        padding: 16px 24px;
    }

    .comment{
        color: $gray;
        font-style: italic;

        a{
            color: darkgray;
        }
    }

    .hidden{
        display: none;
    }
}

.list{
    &--boxes{
        margin-top: 0;
        padding-left: 0;
    }
}

.box{
    &__container{
        border-bottom: 1p solid gray;
        list-style-type: none;
    }
    &__item{
        display: inline-block;
        vertical-align: top;
    }
    &__left{
        width: 165px;
        @media(max-width:#{$small}){
            width: 100%;
        }
    }
    &__description{
        width: calc(100% - 170px);
        @media(max-width:#{$small}){
            width: 100%;
        }
    }
}

